.products{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}
.productsCard{
    margin:2%;
    background-color:rgb(255, 255, 255);
    text-decoration: none;
    width: 170px;
    height: auto;
} 
.emptyItemsDiv{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}